*{
  font-family: Tahoma, Helvetica, sans-serif;
}

.tables-box table {
  padding: 0;
  border-collapse: collapse;
}

.react-contextmenu-wrapper,
.tables-box table {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.tables-box th,
.tables-box td{
  font-weight: normal;
  font-size: 11px;
  margin: 0;
  text-align: right;
  position: relative;
}

.tables-box th {
  background-color: #f9f9f9;
  height: 22px;
}

.tables-box td {
  height: 19px;
}

.tables-box th:first-child,
.tables-box td:first-child {
  text-align: left;
}

.tables-box td:first-child {
  padding: 0 0 0 13px;
}

.tables-box thead th,
.tables-box tbody td {
  border: 1px solid #ebebeb;
}

.tables-box tfoot {
  border: 1px solid #ebebeb;
  color: #666;
}

.tables-box .content {
  margin: 0 6px;
}

.up {
  color: blue
}

.down {
  color: red;
}

span.i {
  display: inline-block;
  width: 16px;
  height: 16px;
  position: absolute;
  margin-left: -18px;
}

tfoot span.i {
  top: 3px;
  left: 20px;
}

.ask-up {
  background: url("./market-watch.png?t=2") transparent no-repeat 0 0;
}

.ask-static {
  background: url("./market-watch.png?t=2") transparent no-repeat -32px 0;
}

.ask-down {
  background: url("./market-watch.png?t=2") transparent no-repeat -16px 0;
}

.add {
  background: url("./market-watch.png?t=2") transparent no-repeat -48px 0;
}

.react-contextmenu {
  background-color: #ebebeb;
  border: 1px solid #a9a9a9;
}

.react-contextmenu-item {
  padding: 5px 25px;
  font-size: 12px;
}

.react-contextmenu-item:hover {
  cursor: pointer;
  background-color: #a9a9a9;
}

.react-contextmenu-item:not(:last-child) {
  border-bottom: 1px solid #a9a9a9;
}